autoconf/compile
autoconf/config.guess
autoconf/config.sub
autoconf/depcomp
autoconf/install-sh
autoconf/libtool.m4
autoconf/ltmain.sh
autoconf/ltoptions.m4
autoconf/ltsugar.m4
autoconf/ltversion.m4
autoconf/lt~obsolete.m4
autoconf/missing
**/Makefile.in
**/Makefile
autom4te.cache/
configure
config.h.in
aclocal.m4
**/.deps
**/.libs
**/*.lo
**/*.o
libtool
stamp-h1
config.h
config.log
config.status
